<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%if (query_email) { %>
    <h1>Danh sach tim email co ki tu <%=query_email%> </h1>
    <% var result = dulieuJson.sv.filter((value, index)=> {
        return value.email.toLowerCase().indexOf(query_email.toLowerCase()) !== -1;}); %>
       
       
       <% if (result.length !== 0) {
            result.forEach(element => { %>
                <li> <%=element.email %></li>
        <%})
       } else { %>
        <h1>Khong tim thay ket qua</h1>
        <%}%>

    <%} else { %>

        <h1>Khong tim thay ket qua</h1>
   
    <%}%>
</body>
</html>